<h1>Register with your Facebook account</h1>
<div id="fb-root"></div>
<button href="/parents/new" scope="public_profile,email" onlogin="checkLoginState();" method="post" id="register">Register Here</button>
